* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

.noTerminado {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 0.75rem;
    position: fixed;
    left: 1vw;
    top: 1vh;
}

header {
    width: 100%;
    height: 60px;
    background-color: rgb(100, 100, 255);
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    list-style: none;
    white-space: nowrap;
}

nav ul li a {
    padding: 5px 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
    text-decoration: none;
    color: rgb(255, 255, 180);
    font-weight: 500;
    font-size: 1.1rem;
}

li a:hover {
    background-color: rgb(50, 50, 255);
}

.negrita {
    font-weight: bold;
}

main {
    padding: 0px 5px;
}

h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.contenedor-asistente {
    margin: 10px 0;
    padding: 15px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    background-color: rgb(205, 205, 255);
}

.botones {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#estado {
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2px;
    width: 45px;
}

#estado span {
    position: absolute
}

.botones button {
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.botones button:active {
    outline: 1px solid rgb(0, 0, 0);
}

#estado span {
    color: rgb(255, 0, 0);
}

#btnStart {
    background-color: rgb(150, 255, 150);
}

#btnStart:hover {
    background-color: rgb(180, 255, 180);
}

#btnStart:active {
    background-color: rgb(120, 255, 120);
}

#btnStop {
    background-color: rgb(255, 150, 150);
}

#btnStop:hover {
    background-color: rgb(255, 180, 180);
}

#btnStop:active {
    background-color: rgb(255, 120, 120);
}

#btnDelete {
    background-color: rgb(200, 200, 200);
}

#btnDelete:hover {
    background-color: rgb(230, 230, 230);
}

#btnDelete:active {
    background-color: rgb(170, 170, 170);
}

.pRegistro, .tips {
    font-size: 1.2rem;
    font-weight: bold;
}

#registro {
    padding: 1px 5px;
    width: 100%;
    height: 50vh;
    font-size: 1.1rem;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
}

.placeholderRegistro {
    color: rgb(100, 100, 100);
}

.registroHora {
    margin-top: 10px;
}

.registroApagar {
    margin-top: 10px;
}

.divPalabrasClave {
    margin: 20px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    background-color: rgb(205, 205, 255);
}

.palabrasClave {
    font-weight: bold;
}

#tablaPalabrasClave {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1px;
    background-color: rgb(255, 255, 255);
}

#tablaPalabrasClave div {
    display: flex;
    text-align: center;
}

#tablaPalabrasClave div p {
    padding: 3px;
    min-height: 20px;
    width: 25%;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.aclaracion {
    width: 100%;
}

.contenedor {
    margin: 20px 0;
    padding: 15px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    background-color: rgb(205, 205, 255);
    font-size: 1.1rem;
}

h2 {
    font-size: 1.75rem;
}

.contenedor h2 {
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

#creditos {
    position: fixed;
    right: 2vw;
    bottom: 1vh;
    transition: all 0.5s;
}

#creditos:hover {
    transform: scale(1.1);
    font-weight: bold;
    transform: translate(0px, 0px);
}

#creditos a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 523px) {
    header {
        height: 50px;
    }
    
    nav ul li a {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    #estado {
        font-size: 1.6rem;
    }

    .botones button {
        padding: 3px;
        font-size: 0.9rem;
    }

    #tablaPalabrasClave div p {
        font-size: 0.9rem
    }
}
